.postsContainer {
	display: grid;
	grid-template-columns: auto;
	gap: 8px 8px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
	width: 100%;
	padding: 8px 16px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgb(9 35 66 / 25%);
}

.cardHeader {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 8px;
	align-items: center;
  margin-bottom: 8px;
}

.cardAvatar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: var(--indigo-a200);
	color: white;
	border-radius: 50px;
	font-size: 1.25rem;
	font-weight: bold;
}

.cardTitle {
  margin: 0;
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 1.6;
	letter-spacing: 0.0075em;
}

.cardBody {
  flex-grow: 1;
  margin: 0 0 8px;
  white-space: pre-wrap;
}

.cardActions {
  display: flex;
  justify-content: flex-end;
}

.mainErrorContainer {
  width: 100%;
	height: calc(100vh - 128px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fetchErrorImg {
  width: 300px;
  margin-bottom: 16px;
}

@media (width < 600px) {
	.errorParagraph {
		font-size: 1.2rem;
    text-align: center;
	}
}

@media (width >= 1024px) {
	.postsContainer {
		grid-template-columns: auto auto;
	}
}

@media (width >= 1536px) {
	.postsContainer {
		grid-template-columns: repeat(4, auto);
	}
}
