.mobileDrawer {
	display: block;
}

.desktopDrawer {
	display: none;
}

.mobileDrawer .MuiDrawer-paper,
.desktopDrawer .MuiDrawer-paper {
	box-sizing: border-box;
	width: var(--drawer-width);
}

.drawerContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.drawerToolbarContainer {
	padding: 0 16px;
}

.cleverpyLogo {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 16px;
}

.listMenu {
  overflow-y: auto;
  flex-grow: 1;
}

.listItemIcon {
	min-width: auto;
	margin-right: 8px;
}

@media (width >= 1024px) {
	.sidebarContainer {
		width: var(--drawer-width);
		flex-shrink: 0;
	}

  .mobileDrawer {
    display: none;
  }
  
  .desktopDrawer {
    display: block;
  }
}
