.rootLayout {
  display: flex;
}

.mainContainer {
  flex-grow: 1;
  padding: 8px;
}

@media (width >= 1024px) {
	.mainContainer {
    padding: 16px;
    width: calc(100% - var(--drawer-width));
  }
}
